# Ex1 - Know your Data

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
# import online dataset
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/mpg_ggplot2.csv')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

### Step 3. Assign it to a variable called chipo.

In [17]:
abc = ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
chipo = pd.read_csv(abc, sep='\t')

### Step 4. See the first 10 entries

In [18]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [19]:
# Solution 1

# number of observation in dataset
rows,cols = chipo.shape
print("Number of rows:", rows)
print("Number of columns:", cols)

Number of rows: 4622
Number of columns: 5

In [59]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [22]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [23]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [25]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [26]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [29]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [60]:
chipo_count = chipo.groupby('item_name').sum()
chipo_count_more = chipo_count.sort_values(['quantity'], ascending=False)
chipo_count_more.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [62]:
# second way
c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [37]:
a = chipo.groupby('item_name').count()
a.sort_values(by='order_id', ascending=False).head(1)

              order_id  quantity  choice_description  item_price
item_name
Chicken Bowl       726       726                 726         726

In [61]:
chipo_count = chipo.groupby('item_name').sum()
chipo_count_more = chipo_count.sort_values(['quantity'], ascending=False)
chipo_count_more.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [63]:
# second way
c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [38]:
chipo.groupby('item_name').count().sort_values(by='order_id', ascending=False).head(1)

              order_id  quantity  choice_description  item_price
item_name
Chicken Bowl       726       726                 726         726

In [41]:
chipo.groupby('item_name').sum().nlargest(1, 'quantity').head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [42]:
chipo.groupby("choice_description").sum().nlargest(1, 'quantity').head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [64]:
# second way
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [44]:
 chipo.quantity.sum()

4972

In [66]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [67]:
chipo.item_price.dtypes

dtype('O')

In [69]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [75]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.replace('$', '')).astype('float64')

#### Step 13.c. Check the item price type

In [76]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [78]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [79]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [84]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.39423118865867

In [85]:
# Solution 2
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [86]:
chipo.item_name.value_counts().count()

50