In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("Boston.csv")
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [12]:
X = df[['rm', 'crim', 'age']]
y = df['tax']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [14]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set()

In [15]:
knn = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
knn.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean')

In [18]:
y_pred = knn.predict(X_test)
y_pred

array([188, 265, 666, 193, 666, 307, 247, 666, 403, 305, 666, 188, 243,
       666, 241, 254, 233, 270, 666, 666, 276, 224, 437, 666, 277, 276,
       666, 270, 437, 403, 264, 226, 243, 666, 244, 193, 226, 666, 305,
       666, 270, 403, 188, 666, 296, 437, 666, 437, 437, 666, 307, 216,
       188, 243, 666, 188, 264, 437, 307, 245, 289, 270, 270, 403, 666,
       243, 223, 666, 304, 666, 666, 666, 666, 198, 666, 402, 666, 666,
       305, 307, 224, 437, 391, 188, 305, 243, 223, 666, 666, 265, 233,
       666, 270, 307, 307, 224, 233, 666, 233, 224, 224, 233], dtype=int64)

In [20]:
score = accuracy_score(y_test, y_pred)
score

0.4215686274509804

In [25]:
#Accuracy Measurement

"""
from sklearn.metrics import precision_score
score = precision_score(y_test, y_pred)
score

from sklearn.metrics import recall_score
score = recall_score(y_test, y_pred)
score
"""

'\nfrom sklearn.metrics import precision_score\nscore = precision_score(y_test, y_pred)\nscore\n\nfrom sklearn.metrics import recall_score\nscore = recall_score(y_test, y_pred)\nscore\n'